{% extends "core/base_login.html" %}

{% block title %}Register - TeacherEye{% endblock %}


{% block body_header %}

<div class="mb-5">
    <h2 class="display-5 fw-bold text-center">Reset Password</h2>
</div>
{% endblock %}

{% block body_content %}

<div class="col-12 col-lg-5">
    <form method="POST" action="/register/">
        {% csrf_token %}
        <div class="row gy-3 overflow-hidden">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control border-0 border-bottom rounded-0" name="email" id="email"
                        placeholder="name@example.com" required>
                    <label for="email" class="form-label">Email</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="email_again" class="form-control border-0 border-bottom rounded-0" name="email_again"
                        id="email_again" placeholder="name@example.com" required>
                    <label for="email_again" class="form-label">Email Again</label>
                </div>
            </div>
            <div class="col-12">
                <div class="d-grid">
                    <button class="btn btn-outline-success rounded-0 fs-6" type="submit">Reset Password</button>
                </div>
            </div>
            <div class="container mt-2">
                {% if message %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}